@model IEnumerable<Inmobiliaria.Models.Inquilino> //modelo para la vista

<h2>Inquilinos</h2>

<p><a asp-action="Create" class="btn btn-primary">Nuevo Inquilino</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Dni</td>
                <td>@i.Apellido</td>
                <td>@i.Nombre</td>
                <td>@i.Telefono</td>
                <td>@i.Email</td>
                <td class="text-nowrap">
                    <a asp-action="Details" asp-route-id="@i.Id">Ver</a> |
                    <a asp-action="Edit" asp-route-id="@i.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@i.Id">Dar de baja</a>
                </td>
            </tr>
        }
    </tbody>
</table>
