@model IEnumerable<Inmobiliaria.Models.Inquilino> //Recibe una lista de Inquilinos

<h2>Inquilino</h2>

<p><a asp-action="Create">Nuevo Inquilino</a></p>

<table>
    <thead>
        <tr>
            <th>DNI</th><th>Apellido</th><th>Nombre</th><th>Teléfono</th><th>Email</th><th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var p in Model) {                       <!-- Itera la lista -->
        <tr>
            <td>@p.Dni</td>
            <td>@p.Apellido</td>
            <td>@p.Nombre</td>
            <td>@p.Telefono</td>
            <td>@p.Email</td>
            <td>
                <a asp-action="Details" asp-route-id="@p.Id">Ver</a> |
                <a asp-action="Edit" asp-route-id="@p.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@p.Id">Dar de baja</a>
            </td>
        </tr>
    }
    </tbody>
</table>
