@model Microsoft.AspNetCore.Mvc.ViewFeatures.ModelExpression
@{
    string label = ViewData["Label"] as string ?? Model.Metadata.DisplayName ?? Model.Name;
    string type = ViewData["Type"] as string ?? "text";
    string col = ViewData["Col"] as string ?? "col-md-4";
}

<div class="@col mb-3">
    <div class="form-floating">
        <input name="@Model.Name" value="@Model.Model" type="@type" class="form-control" placeholder="@label" />
        <label for="@Model.Name">@label</label>
        <span data-valmsg-for="@Model.Name" class="text-danger small"></span>
    </div>
</div>
