@model Inmobiliaria.Models.Inmueble
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject IModelExpressionProvider ModelExpressionProvider

<h2>@(ViewData["Title"] ?? "Inmueble")</h2>

<form asp-action="Create" method="post" class="row g-3">
    <div asp-validation-summary="All" class="alert alert-danger"></div>
    
    <partial name="_FormInput" model="@(ModelExpressionProvider.CreateModelExpression(ViewData, m => m.PropietarioId))" view-data='@(new ViewDataDictionary(ViewData) { { "Label", "PropietarioId" }, { "Type", "number" }, { "Col", "col-md-3" } })' />
    <partial name="_FormInput" model="@(ModelExpressionProvider.CreateModelExpression(ViewData, m => m.Direccion))" view-data='@(new ViewDataDictionary(ViewData) { { "Label", "Dirección" }, { "Col", "col-md-6" } })' />
    <partial name="_FormInput" model="@(ModelExpressionProvider.CreateModelExpression(ViewData, m => m.Tipo))" view-data='@(new ViewDataDictionary(ViewData) { { "Label", "Tipo" }, { "Col", "col-md-3" } })' />
    <partial name="_FormInput" model="@(ModelExpressionProvider.CreateModelExpression(ViewData, m => m.Ambientes))" view-data='@(new ViewDataDictionary(ViewData) { { "Label", "Ambientes" }, { "Type", "number" }, { "Col", "col-md-2" } })' />
    <partial name="_FormInput" model="@(ModelExpressionProvider.CreateModelExpression(ViewData, m => m.SuperficieM2))" view-data='@(new ViewDataDictionary(ViewData) { { "Label", "Superficie m²" }, { "Type", "number" }, { "Col", "col-md-2" } })' />
    <partial name="_FormInput" model="@(ModelExpressionProvider.CreateModelExpression(ViewData, m => m.PrecioBase))" view-data='@(new ViewDataDictionary(ViewData) { { "Label", "Precio Base" }, { "Type", "number" }, { "Col", "col-md-3" } })' />
    <partial name="_FormInput" model="@(ModelExpressionProvider.CreateModelExpression(ViewData, m => m.Situacion))" view-data='@(new ViewDataDictionary(ViewData) { { "Label", "Situación" }, { "Col", "col-md-3" } })' />

    <div class="col-md-2">
        <label class="form-check-label">Activo</label>
        <input asp-for="Activo" type="checkbox" class="form-check-input ms-2" />
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
</form>
